* {
    padding: 0;
    margin: 0;
    --dark-background-color: #1F2937;
    --hero-main-text-color: #f9faf8;
    --hero-second-text-color: #E5E7EB;
    --button-color: #3882F6;
    --information-header-text-color: #1F2937;
    --quote-bg-color: #E5E7EB;
    --quote-text-color: #1F2937;
    --side-padding: 0 15vw;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

header {
    background-color: var(--dark-background-color);
    padding: var(--side-padding)
}

.logo {
    font-size: 24px;
    color: var(--hero-main-text-color);
    font-weight: 1000;
}

ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    padding: 1rem;
    flex-wrap: wrap;
}

.navbar a{
    text-decoration: none;
    color: var(--hero-second-text-color);
}

.hero {
    display: flex;
    margin-bottom: 150px;
    gap: 2rem;
    flex-wrap: wrap;
}

header .container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 1rem;
    align-items: flex-start;
    gap: 1rem;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: var(--hero-main-text-color);
}

.subtext {
    font-size: 18px;
    color: var(--hero-second-text-color);
}

.image {
    display: flex;
    flex: 1;
    background: grey;
    color: var(--hero-second-text-color);
    justify-content: center;
    align-items: center;
    min-width: 350px;
    min-height: 200px;
}

.signup {
    cursor: pointer;
    background-color: #3882F6;
    color: var(--hero-main-text-color);
    border: 1px solid #3882F6;
    border-radius: 8px;
    padding: 8px 32px;
    font-size: 16px;
    font-weight: bold;
    flex-grow: 0;
}

section.first {
    padding: var(--side-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 150px;
}

.first .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info {
    text-align: center;
    margin: 50px 0;
    font-size: 36px;
    color: var(--information-header-text-color);
    font-weight: 900;
}

figure.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 175px;
    justify-content: center;
    text-align: center;
}

.illustration {
    border: 3px solid rgb(0, 89, 255);
    width: 175px;
    height: 175px;
    flex-shrink: 0;
    border-radius: 16px;
}

section.second {
    background-color: var(--hero-second-text-color);
    padding: 150px 15vw;
}

.second blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937
}

.second .container {
    display: flex;
    flex-direction: column;
    padding: 0 10vw;
}

.second cite {
    font-weight: bold;
    margin-left: auto;
    font-style: normal;
}

section.three {
    padding: var(--side-padding);
}

.three .container {
    margin: 150px 0;
    padding: 40px 75px;
    background-color: var(--button-color);
    display: flex;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
}

.three h3 {
    color: var(--hero-main-text-color);
    font-size: 24px;
}

.three p {
    color: var(--hero-second-text-color);
}

.lefttext {
    display: flex;
    flex-direction: column;
}

.three button {
    border: solid var(--hero-main-text-color) 2px;
    padding: 6px 30px;
}

footer {
    background-color: var(--dark-background-color);
    padding: 2rem 0;
    color: var(--hero-second-text-color);
    text-align: center;
}